<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">dota-mentorr</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="heroes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Heroes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trends">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Trends
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="meta">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Meta
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="livematches">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Live Matches
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recentmatches">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Recent Matches
            </NavLink>
        </div>
    </nav>
</div>

